<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">AFPA 2021 - Node</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">A propos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/datas1">Données 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/datas2/23434/44">Données 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/datas3">Données 3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/datas4">Données 4</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/form_article">Ajout article</a>
        </li>
    </ul>
</nav>